# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [10]:
import pandas as pd
import numpy as np

In [39]:
#np.random.randint(low, high, size) 返回隨機的整數，位於半開區間[low, high)

data = {'國家': ['Taiwan', 'Japan', 'USA', 'China', 'Germany'],
        'POP': np.random.randint(571,1395380000,5)}
dt = pd.DataFrame(data)

dt

        國家         POP
0   Taiwan  1098767891
1    Japan   924454851
2      USA   904353873
3    China   727027491
4  Germany   698979315

In [40]:
'''
對資料做遞減排序
series.sort_index()
series通过值进行排序

series.sort_values()
dataframe根据行索引进行降序排序（排序时默认升序，调节ascending参数

frame.sort_index(ascending=False)
dataframe根据列索引进行排序

frame.sort_index(axis=1)
dataframe根据值进行排序

frame.sort_values(by='a')
通过多个索引进行排序

frame.sort_values(by=['a','c'])
--------------------- 
'''
sort_POP = dt.sort_values(by=['POP'], ascending=False)
sort_POP

        國家         POP
0   Taiwan  1098767891
1    Japan   924454851
2      USA   904353873
3    China   727027491
4  Germany   698979315

In [41]:
'''
Ex.pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
loc     基於行標籤和列標籤（x_label、y_label）進行索引
loc     先行後列，中間用逗號（,）分割，例如取 a 和 A 對應的資料
frame.loc['a','A']

iloc   基於行索引和列索引（index，columns） 都是從 0 開始
如果資料的行標籤和列標籤名字太長或不容易記，則用 iloc 很方便，只需記標籤對應的索引即可

'''
print('人口數最多的國家是:{}, 人口數有:{}'.format(sort_POP.iloc[0].國家, sort_POP.iloc[0].POP))

人口數最多的國家是:Taiwan, 人口數有:1098767891

In [53]:
'''
人口平均值算法
visitors_1.groupby(by="weekday")['visitor'].mean()
'''
POP_Avg = sort_POP.POP.mean()
print ("人口平均數為:",POP_Avg)

人口平均數為: 870716684.2